ul{
    list-style: none;
}
li{
    border: 10px solid black;
}
.bg-midnight-green{
    background-color: #083B4Cff;
}
.bg-blue-ncs{
    background-color: #1389B2ff;
}
.bg-emerald{
    background-color: #0CD6A1ff;
}
.bg-sunglow{
    background-color: #FFD166ff;
}
.bg-bright-pink-crayola{
    background-color: #F0466Fff;
}


@media screen and (min-width:100px){
    li{
        width: 100%;
    }
    
}
@media screen and (min-width:400px){
    li{
        width: 50%;
    }
    
}
@media screen and (min-width:768px){
    li{
        width: 25%;
    }
    
}
@media screen and (min-width:1000px){
    li{
        width: calc(100%/5);
    }
    
}